# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor or IDE configuration files
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore the node_modules directory
node_modules/